<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:ag="http://www.ag.com/schema/user"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	     http://www.ag.com/schema/user
	      http://www.ag.com/schema/user.xsd">

	<ag:user id="ylj" username="焰灵姬" age="18" level="30"/>
	<!--	<bean class="org.springframework.service.UserService"/>-->

	<bean class="org.springframework.selfEditor.Customer">
		<property name="name" value="zhangdan"/>
		<property name="address" value="江苏省_无锡市_惠山区"/>
	</bean>

<!--	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
<!--		<property name="propertyEditorRegistrars">-->
<!--			<list>-->
<!--				<bean class="org.springframework.selfEditor.AdressPropertyEditorRegistrar"/>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->

	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="org.springframework.selfEditor.Address">
					<value>org.springframework.selfEditor.AdressPropertyEditor</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>